stardog-spring-batch/.idea
stardog-spring-batch/build/classes/main/com/complexible/stardog/ext/spring/batch
stardog-spring-batch/build
taskArtifacts.bin
stardog-spring-batch/.gradle
stardog-spring-batch/classes
stardog-spring/bin
stardog-spring/.settings
stardog-spring-batch
stardog-spring/.classpath
stardog-spring/.project
.idea/*
